/**
* @desc         footer styles.
* @requires     variables.scss, mixins.scss, 
*/

.footer-wrapper {
  background: $footer-bg;
  color: $text-white-color;
}
footer {
  padding: 45px 0;
  .list-group {
    .list-group-item {
      border: none;
      padding-left: 0;
      color: $text-tone-light-color;
      a {
        color: $text-tone-light-color;
      }
      &.location,
      &.phone,
      &.mail {
        display: flex;
        p {
          margin: 0;
        }
      }
      &.location {
        p {
          margin-bottom: 5px;
        }
        border-bottom: 1px solid $border-default-color;
      }
      .contact-info-icon {
        margin-right: 15px;
      }
    }
  }
  .copy-right {
    margin: 20px 100px 0;
    padding-top: 20px;
    border-top: 1px solid  $border-default-color;
    p {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
    }
  }
}
