/**
* @desc         header styles.
* @requires     variables.scss, mixins.scss, 
*/
.header-wrapper {
  position: absolute;
  z-index: 3;
  width: 100%;

  .app-header {
    z-index: 99;
    .header-container {
      position: relative;
      .seo {
        display: none;
      }
      .navbar-brand {
        color: $text-white-color;
      }
      .navbar-collapse {
        position: absolute;
        top: 50px;
        width: 100%;
        padding: 10px;
        border-radius: 2px;
        &.show {
          background: $white-color-1;
        }
        .center-nav {
          a {
            position: relative;
            text-decoration: none;
            &:after {
              @extend %nav-underline;
              @extend %ease;
            }
            &:hover,
            &.active {
              &:after {
                width: 20px;
              }
            }
          }
        }
      }
      .language-change, .user-actions {
        .dropdown {
          button {
            display: flex;
            align-items: center;
            background: transparent;
            border-radius: 0;
            padding: 0;
            border: none;
            p {
              margin: 0 5px 0 0;
            }
            figure {
              width: 25px;
              margin: 0 5px;
              img {
                width: 100%;
              }
            }
            .icon-down {
              width: 15px;
            }
            &:after {
              display: none;
            }
            &:focus {
              box-shadow: none;
            }
          }
          .dropdown-menu {
            .dropdown-item {
              padding: 8px 12px;
              display: flex;
              justify-content: space-between;
              p {
                margin: 0;
              }
              figure {
                width: 25px;
                margin: 0;
                img {
                  width: 100%;
                }
              }
            }
            .dropdown-divider {
              margin: 0;
            }
          }
        }
        strong {
          font-weight: $font-w-medium;
          margin-right: 15px;
        }
        .logout-section {
          justify-content: flex-end !important;
          padding-top: 15px !important;
          figure {
            margin-right: 15px !important;
            width: 18px !important;
          }
        }
      }
    }

    form {
      display: flex;
      align-items: center;
      p {
        color: $white-color-1;
        margin: 0 10px 0 0;
      }
    }

    @include respond-to("large") {
      .header-container {
        position: relative;
        .navbar-brand {
          position: absolute;
        }
        .center-nav {
          width: 100%;
        }
        .navbar-collapse {
          position: static;
          width: auto;
          padding: auto;
          border-radius: auto;
          &.show {
            background: transparent;
          }
          .center-nav {
            a {
              color: $text-white-color;
              padding: 5px 10px;
            }
          }
        }
        .language-change {
          cursor: pointer;
          color: $white-color-1;
          // position: absolute;
          margin-right: 20px;
        }
      }
    }
  }
}
