/**
* @desc         pagination styles.
* @requires     variables.scss
*/

.pagination-ue {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

  figure {
   margin: 0;
  }

  li {
    margin: 5px 10px;
    color: $text-primary-color;
    cursor: pointer;
    
    &.active{
      font-weight: $font-w-semi-bold;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
}
