/**
* @desc         search suggesstion on banner search
* @requires     variables
*/

.search-suggestions {
  background: $white-color-1;
  width: 100%;
  margin-top: 5px;
  border-radius: $border-radius-2;
  box-shadow: $box-shadow-light;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 425px;
    overflow-y: auto;
    li {
      display: flex;
      flex-direction: row;
      padding: 15px;
      color: $text-default-color;
      border-bottom: 1px solid $gray-color-2;
      figure {
        width: 55px;
        height: 55px;
        background: tomato;
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: $border-radius-2;
        margin: 0;
        img {
          width: 100%;
        }
      }

      .details {
        width: calc(100% - 65px);
        margin-left: 10px;
        header {
          display: flex;
          align-items: center;
          overflow-y: hidden;
          justify-content: space-between;
          * {
            margin: 0;
            margin-right: 20px;
            font-size: $font-s-regular;
          }
          span {
            font-weight: $font-w-regular;
            font-size: $font-s-small;
          }
          .badge {
            background: $badge-pill-bg;
            color: $text-primary-color;
          }
          figure {
            background: transparent;
            width: 25px;
            height: auto;
            margin-right: 0;
            img {
              margin-right: 0;
            }
          }
        }
        section {
          margin: 5px 0 0 0;
          padding: 0;
          width: auto;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          * {
            margin: 0;
            font-size: $font-s-regular;
          }
        }
      }
      &:hover {
        background: $gray-color-1;
        cursor: pointer;
      }
      &:last-child {
        border-bottom: none;
        a {
          margin: auto;
        }
      }
      p {
        margin: 0;
      }
    }
  }
  .see-all {
    padding: 5px;
    text-align: center;
    border-top: 1px solid $gray-color-2;
  }

  @include respond-to("large") {
    position: absolute;
  }
}
